@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f6fc31;
}

.Section_top {
  width: 100%;
  height: 800%;
  overflow: hidden;
  position: relative;
  background-image: url(../img/agua3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 10s infinite ease-in-out;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;

}

.content h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 15px;
}

.content h1 span {
  color: #111;
}
.page-content{
  margin-top: 30px;
}

.content a {
  background: #85c1ee;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}

.content a:hover {
  background: #034e88;
  color: #fff;
}

@keyframes change {
  0% {
    background-image: url(../img/agua3.png);
  }

  20% {
    background-image: url(../img/agua3.png);
  }

  50% {
    background-image: url(../img/crianca3.png);
  }

  80% {
    background-image: url(../img/crianca5.png);
  }

  100% {
    background-image: url(../img/agua3.png);
  }
}

section{
  padding: 40px 0;
  margin-top: 30px;
}

/* todo: font sobre */

.font-sobre{
  font-size: 2rem;
}


/* faca mais */

.faca-mais .container {
  display: flex;
  align-items: center;
  
}

.faca-mais .faca-mais-text {
  width: 50%;
  padding: 0 40px;
  color: #140B5C;
}

.faca-mais .faca-mais-text h3 {
  font-size: 56px;

}

.faca-mais .faca-mais-text p {
  margin: 5px 0 10px 0;
  font-size: 1.2rem;
  text-align: justify; 
}

.faca-mais .faca-mais-img {
  width: 50%;
}

.faca-mais .faca-mais-img img {
  width: 100%;
}

.depoimentos h3 {
  margin-top: 20px;
  text-align: center;
  color: #140B5C;
  font-size: 3.5rem;
}

.depoimentos p {
  margin-bottom: 20px;
  text-align: center;
  color: #8888889c;


}

.cards p {
  margin-bottom: 20px;
  text-align: center;
  color: #f1f1f1;


}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimentos .card-item {
  background-color: #323489;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
}

.depoimentos .card-item img {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  display: block;
  margin: 25px auto;
}

.depoimentos .card-item .nome-user {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.depoimentos .card-item .depoimento-user {
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
}

.depoimentos .card-item .estrelas {
  margin: 15px 0;
  border-top: 2px solid #71767a23;
}

.depoimentos .card-item .estrelas i {
  color: #4f9cf9;
  margin-top: 15px;
  font-size: 20px;
  transition: 0.3s;
}

.depoimentos .card-item:hover {
  background-color: #140B5C;
  margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i {
  color: white;
}

/*denuncia*/
.como-fazer-text h3 {
  color: #84bc26;
}

@media(max-width: 440px) {

  .wrapper .center-line,
  .row section::before,
  .row section .icon {
      display: none;
  }

  .wrapper .row {
      margin: 10px 0;
  }
}
@media(max-width: 790px) {
  .wrapper .center-line {
      left: 40px;
  }

  .wrapper .row {
      margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
      width: 100%;
  }

  .row-1 section::before {
      left: -7px;
  }

  .row-1 section .icon {
      left: -60px;
  }
}


@media(max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }

  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .row-1 section::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}

@media(max-width: 440px) {

  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}

.clientes .container div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* footer */


/* dados e area */

.area .area-text h3 {
  color: #84bc26;
}

.dados {
  background: #c9ff9a;
}

.dados .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.dados .dados-item {
  text-align: center;
  margin: 15px;
  color: #000000be;
}

.dados .dados-item img {
  background-color: #84bc26;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80px;
}

.dados .dados-item p {
  font-size: 17px;
}

.dados .dados-item p strong {
  font-size: 28px;
  color: #ffffff;
}

/* end Página servicos */
/* Página de contacto */
.contacto-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contacto-info .left-side {
  width: 50%;
  padding: 30px;
  background-color: #4f9cf9;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;
}

.contacto-info .left-side div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacto-info .left-side div i {
  font-size: 24px;
  margin-right: 20px;
  color: white;
}

.contacto-info .left-side p {
  font-size: 17px;
  color: white;
}

.contacto-info .right-side {
  width: 50%;
}

.contacto-info .right-side input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 47px;
  padding: 15px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid #f1f1f1;
  color: #212121;
  font-weight: lighter;
}

.contacto-info .right-side input:focus,
.contacto-info .right-side textarea:focus {
  border-color: #4f9cf9;
}

.contacto-info .right-side textarea {
  border: 1px solid #f1f1f1;
  color: #212121;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
  resize: none;
}

.contacto-info .right-side button {
  border: none;
}

/* Página sobre */

.sobre .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobre .sobre-text {
  width: 50%;
  padding-right: 30px;

}

.sobre .sobre-text p {
  margin: 18px 0;
  color: #000000a6;
text-align: justify;
}

.sobre .sobre-text h3 {
  margin: 18px 0;
  color: #84bc26;
}

.sobre .sobre-text h2 {
  margin: 18px 0;
  color: #84bc26;
}

.sobre .sobre-img {
  width: 50%;
}

.sobre .sobre-img img {
  width: 100%;
  border-radius: 10px;
}


@media(max-width:400px){.depoimentos h3{font-size: 3rem ;}}
@media (max-width:500px) {.banner .banner-text h1 {font-size: 50px;}.faca-mais .faca-mais-text h3 {font-size: 40px;}.sobre .sobre-text{ padding: 10px;}}
