.box-form {
    max-width: 650px;
    background: var(--white);
    width: 100%;
    margin: 40px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    max-height: 1200px;
    margin-top: 80px;

}

.form-input {
    margin-top: 20px;
    width: 100%;

}

.form-content label span {
    color: var(--red);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background: var(--white2);
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-top: 2%;
    padding-left: 10px;
}

button {
    width: 100%;
    background-color: var(--blue3);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, 0.2s;
    font-size: 1rem;
    margin-top: 1%;
}

button:hover {
    background-color: var(--green);
}

.form-content label {
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;

}

.forget-password-link {
    margin-top: 20px;
}

.form-content h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    color: var(--blue);
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;

}

.form-content>.sub-titulo {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}


.input__wrapper {
    position: relative;
}

/* ! icon ver senha  */

.input__wrapper {
    position: relative;
}

.input__field {
    padding-left: 30px;
}

.input__icon {
    position: absolute;
    right: 12px;
    top: 70%;
    transform: translateY(-50%);
}

.form-input img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* ! icon das redes sociais */

.alternative1 {
    text-align: center;
    padding: 10px;

}

.alternative1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    font-size: 1.1rem;
    color: var(--black-2);
    font-weight: 400;
}

.alternative1 span::before,
main .alternative1 span::after {
    content: '';
    display: block;
    height: 1px;
    width: 35%;
    background: var(--black-2);
}

.media {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    width: min(45px, 33%);
}

.icon>img {
    width: 100%;
}

@media (max-width: 440px) {
    .form-content>.sub-titulo {
        font-size: 1.3rem;
    }

    .form-content h3 {
        width: 100%;
        font-size: 1.8rem;
    }
}