/* Metade do código está aqui  */

.text-banner{
  color: #fff;
  margin: 150px;
  font-size: 3.7rem;
}
.servicos h3 {
  text-align: center;
  color: #84bc26;
}

.sanea .sanea-text > h3 {
  color: #84bc26;
}

.sanea .sanea-text > p {
  text-align: justify;

}
.container-img{
  display: flex;
  justify-content: center; 
  margin: 40px 0; 
}

.container-img img{
  width: 100%;

}

.servicos .container > p {
  text-align: center;
}

.servicos .rows-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.servicos .row-card-item {
  background-color: #c9ff9a;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.servicos .row-card-item:hover {
  background-color: #84bc26;
}

.servicos .row-card-item:hover p {
  color: white;
}

.servicos .row-card-item img {
  background-color: #070045;
  border-radius: 14px;
  width: 70px;
  padding: 9px;
}

.servicos .row-card-item p.nome-servico {
  margin: 5px 0;
  transition: 0.3s;
}

.servicos .row-card-item p.descricao-servico {
  transition: 0.3s;
}

/* Criando 3 tamanho de tela para ajustamentos futuros  */

@media (max-width:580px) {.text-banner{font-size: 3rem;}}
@media (max-width:470px) {.text-banner{font-size: 2.3rem;}}
@media (max-width:340px) {.text-banner{font-size: 2rem;}}

