
.formFale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    
}

.fcontainer{
    background-color:  #0c48a8;
    padding: 20px;
    border-radius: 10px;
}

.font{
    font-size: 1.8rem;
    padding: 20px;
    color: var(--white);

}
.font-FaleConosco > p{
    padding: 5px;
    max-width: 500px;
    text-align: center;
    margin: 10px 0; 
    font-size: 1.2rem;
    color: #fff;
}
.font-FaleConosco > h1{
    text-align: center;
    font-size: 2.7rem;
    color:  #84bc26;

}

.font-form {
    margin: 10px 0;
}


.container-textearea {
    width: 100%;

}

.input-box {
    margin: 20px 0;
}

.containerMensagem {
    max-width: 500px;
    border: solid 1px var(--black);
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--black);
    cursor: text;
    width: 80%;
}

.input-field i {
    font-size: 18px;
    cursor: text;
    color: var(--black);
}

.input-field input {
    border: none;
    width: 260px;
    background-color: transparent;
    font-size: 15px;
}

.input-field input:focus {
    outline: none;
}

.button {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}


/* .linha-vertical {
    width: 2px; 
    height: 100px; 
    background-color: black; 
}
 */
/* sub-menu */
.Sub-menuF{
    display: flex;
    justify-content: space-around;
}


@media(max-width:660px){    
    .font{
        font-size: 0.93rem ;
    }
    .CorpoMeio{
        padding: 50px ; 
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .font{
        max-width: 100%;
        padding: 20px ;
    }
}
@media(max-width:400px){
    .font{
        font-size: 0.9rem;
    }
    .containerMensagem{
        margin: 10px 10px;
    }
    .CorpoMeio{
        padding: 20px ; 
    }
    .sub-menu{
        padding-left: 20px;
    }
}